.container-inicio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 36rem;
  background-image: url("../img/torta5.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.title {
  font-size: 60px;
  color: white;
  margin-left: 18px;
  padding: 15px;
  font-weight: 500;
}

