.container-nav {
  display: flex;
  background-color: #ebcdca;
  height: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
<<<<<<< HEAD
  box-shadow: 0 0 10px black;
}

=======
}
>>>>>>> bf21c18e168850481485a04a82e6358ee1398a0c
.container-img {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.container-items {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.item-nav {
  font-size: 20px;
  color: #0c3d46;
  margin-right: 2em;
  display: flex;
  align-self: center;
  align-items: center;
}

label {
  display: none;
}

#toggle {
  display: none;
}

@media (max-width: 700px) {
  label {
    display: block;
    background-color: #ebcdca;
    margin: 0px;
    height: 4rem;
  }
<<<<<<< HEAD
  
=======

>>>>>>> bf21c18e168850481485a04a82e6358ee1398a0c
  .container-img {
    display: none;
  }
  .container-items {
    display: flex;
    flex-direction: column;
  }
  .item-nav {
    display: flex;
    align-self: flex-start;
    padding: 10px;
  }
<<<<<<< HEAD
  
  #toggle:checked ~ .container-nav {
    transition:all .5s ease-in-out; 
    display: block;
    margin: 0;
    background-color: rgba(000, 000, 000, 0.2);
  }
  
  .container-nav {
    display: none;
    height: 9em;
    width: 50%;
    box-shadow: none;
  }
=======

  #toggle:checked ~ .container-nav {
    display: block;
    margin: 0;
    background-color: rgba(000, 000, 000, 0.2);
  }

  .container-nav {
    display: none;
    height: 9em;
    width: 50%;
    box-shadow: none;
  }
>>>>>>> bf21c18e168850481485a04a82e6358ee1398a0c

  .item-perfil {
    margin-top: 10px;
  }

  .item-salir {
    margin-top: 10px;
  }
}
