.container-delivery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 36rem;
    background-image: url("../img/torta5.jpg");
    background-size: cover;
    
  } 
  
  .title-delivery {
    font-family: 'Libre Baskerville', serif;
    font-size: 55px;
    color: white;
  }

  .container-delivery img{
    width: 35em;
  }

  @media (max-width: 700px) {

    .container-delivery{
      height: 18em;
      align-items: center;
      justify-content: center;
      padding-left: 15px;
      
      
    }
    .container-delivery img{
      width: 17em;
    }
    .title-delivery {
      font-size: 28px;
      
      
    }
  }