.container-nav {
  display: flex;
  background-color: #ebcdca;
  height: 5em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: fixed;
  width: 100%;
}
.container-img {
  display: flex;
  align-items: center;
  padding-left: 1em;
}
.container-items {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
}

.item-nav {
  font-size: 20px;
  color: #0c3d46;
  margin-right: 2em;
  display: flex;
  align-self: center;
  align-items: center;
}

label {
  display: none;
}

#toggle {
  display: none;
}


@media (max-width: 700px) {
  label {
    background-color: #ebcdca;
    margin: 0px;
    height: 4rem;
    display: flex;
    align-items: center;
  }

  .container-img {
    display: none;
  }
  .container-items {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }
  .item-nav {
    display: flex;
    align-self: center;
    padding: 5px;
    color: #0c3d46
    
  }

  #toggle:checked ~ .container-nav {
    display: flex;
    align-items: flex-start;
    margin: 0;
    background-color: #ebcdca;
    position: absolute;
  }

  .container-nav {
    display: none;
    height: 12em;
    box-shadow: none;
  }
}
